:root {
  --font-main: 'Roboto', sans-serif;
  font-size: 62.5%;
}

* {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
  color: white;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template: 
    "header" max-content
    "main" 1fr;
}

body {
  background-image: url('/assets/mountains-universe-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 5rem;
}

ul a {
  font-size: 2.4rem;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 4rem 7.2rem;
}

main {
  margin: 6rem 10rem;
  grid-area: main;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  color: #E1E1E6;
}

p {
  max-width: 65rem;
  text-align: justify;
  line-height: 2.8rem;
  color: #E1E1E6;
}

.button {
  background: transparent;
  padding: 1.2rem 3.2rem;
  border-radius: .5rem;
  border: .2rem solid white;
  cursor: pointer;
  transition: background .3s, color .3s;
}

.button:hover {
  background-color: white;
  color: #02799D;
}

.active {
  font-weight: 700;
}

#home-page {
  position: relative;
  top: 35%;
  text-align: center;
}

#home-page h1 {
  margin-bottom: 3.6rem;
}