@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  font-size: 62.5%;

  --ff-primary: 'Poppins', sans-serif;
  --text-color: #303030;

  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 400 1.6rem var(--ff-primary);
  text-decoration: none;
  list-style-type: none;
}

button, input {
  border: 0;
  background: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: rgb(250, 254, 255);
  padding: 2rem;
}

header ul {
  display: flex;
  gap: 3rem;
  place-content: center;
}

header a {
  color: #303030;
}

header a:hover {
  text-shadow: 1px 0 black;
}

div#app {
  max-width: 55rem;
  margin: 0 auto;
}

header#github-fav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
}

header#github-fav h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  height: 3.2rem;
  border: 1px solid #ccc;
  border-radius: .4rem 0 0 .4rem;
  padding: 0 .8rem;
}

.search button {
  background-color: var(--primary-color);
  border-radius: 0 .4rem .4rem 0;
  height: 3.2rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: filter .3s;
}

.search button:hover {
  filter: brightness(0.9)
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: .5rem .5rem 2rem rgba(0,0,0,.3) ; /* posicionamento X Y BLUR COR */
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  background-color: var(--primary-color);
  text-align: left;
  padding: 1.5rem;
  font-weight: 600;
}

table th:first-child {
  border-top-left-radius: .4rem;
}

table th:last-child {
  border-top-right-radius: .4rem;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

table tr:nth-child(odd) {
  background-color: #EEE;
}

table tr:nth-child(even) {
  background-color: #DDD;
}

table tr:nth-child(odd):hover {
  background-color: #e7e7e7;
}

table tr:nth-child(even):hover {
  background-color: #d8d8d8;
}

td.user {
  display: flex;
  align-items: center;
  gap: 2rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  color: red;
  cursor: pointer;
}

/* ----- PÁGINA INICIAL ----- */

#title {
  margin: 3rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

#subtitle {
  text-align: center;
}