:root {

  --color-body-bg: #000000;
  --color-neutral: #FFF;
  --color-danger: #F75A68;  
  
  --color-table-head-bg: #092D38;
  --color-table-row-odd: rgba(6, 22, 27, 0.50);
  --color-table-row-even: rgba(6, 22, 27);
  --color-table-text: #E1E1E6;
  --color-table-border: #4A808C;

  --color-button-bg: #065E7C;
  --color-input-ph: #7C7C8A;
  --color-input-bg: #06181C;

  --font-family: 'Roboto', sans-serif;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal normal 1.6rem var(--font-family);
  text-decoration: none;
}

input, button {
  border: none;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
}

header, #app {
  margin: auto;
  max-width: 150rem;
}

header {
  display: flex;
  place-content: space-between;
  place-items: center;
  gap: 3rem;
  padding: 4rem 10rem;
}

#app {
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  justify-content: right;
  gap: .8rem;
  width: min(64rem, 100%);
}

#search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  cursor: pointer;

  background: var(--color-button-bg);
  padding: 1.2rem 3.2rem;
  border-radius: .5rem;
  color: white;
  transition: background .3s, color .3s;
}

#search-button:hover {
  filter: brightness(.9);
}

#search-button:active {
  filter: brightness(.8);
}

#search-input {
  border-radius: .5rem;
  background: var(--color-input-bg);
  padding: 1.6rem;
  color: white;
  width: 100%;
  font-weight: normal;
}

#search-input::placeholder {
  color: var(--color-input-ph);
  font-weight: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

table {
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
}

table * {
  text-align: left;
  font-size: 2rem;
}

thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th {
  background-color: var(--color-table-head-bg);
  padding: 1.6rem 2.4rem 1.6rem 4rem;
}

th:first-child{
  border-top-left-radius: 1.2rem;
}

th:last-child{
  border-top-right-radius: 1.2rem;
}

td {
  padding: 2.4rem 2.4rem 2.4rem 4rem;
}

td.user {
  display: flex;
  align-items: center;
  gap: 2rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a > p {
  font-weight: bold;
  color: var(--color-table-text);
}

td.user span {
  color: var(--color-table-text);
}

tbody {
  display: block;
  overflow-y: auto;
  scrollbar-gutter: initial;
  height: 70%;
  max-height: 70vh;
  border-radius: 0 0 1.2rem 1.2rem;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody tr:nth-child(odd) {
  background-color: var(--color-table-row-odd);
}

tbody tr:nth-child(even) {
  background-color: var(--color-table-row-even);
}

.button-remove {
  color: var(--color-danger);
  background: none;
  cursor: pointer;
}

.button-remove:hover{
  filter: brightness(.9);
}

::-webkit-scrollbar {
  width: .6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-table-border);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


/* Linha que irá aparecer quando nenhum usuário estiver no banco de dados */
.table-empty{
  height: 69vh;
}

.table-empty div {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}

.table-empty img {
  width: 13.2rem;
  height: 12.5rem;
}

.table-empty p {
  font-size: 4rem;
  color: #4E5455;
  font-family: 'Roboto Mono', sans-serif;
}