:root {

  --color-body-bg: #000000;
  --color-neutral: #FFF;
  --color-danger: #F75A68;  
  
  --color-table-head-bg: #092D38;
  --color-table-row-odd: rgba(6, 22, 27, 0.50);
  --color-table-row-even: rgba(6, 22, 27);
  --color-table-text: #E1E1E6;
  --color-table-border: #4A808C;

  --color-button-bg: #065E7C;
  --color-input-ph: #7C7C8A;
  --color-input-bg: #06181C;
  
  --font-family: 'Roboto', sans-serif;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 700 1.6rem var(--font-family);
  border: none;
}

body {
  display: grid;
  grid-template: 
  "header" max-content
  "main" 1fr
  ;

  background-color: black;
  color: white;
  height: 100vh;
}

header {
  grid-area: header;
  display: flex;
  place-content: space-between;
  place-items: center;
  gap: 3rem;
  padding: 4rem 10rem;
}

#app {
  grid-area: main;
  padding: 0 10rem;
}

.input-wrapper {
  display: flex;
  justify-content: right;
  gap: .8rem;
  width: min(64rem, 100%);
}

#search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;

  background: var(--color-button-bg);
  padding: 1.2rem 3.2rem;
  border-radius: .5rem;
  color: white;
}

#search-input {
  border-radius: .5rem;
  background: var(--color-input-bg);
  padding: 1.6rem;
  color: white;
  width: 100%;
  font-weight: normal;
}

#search-input::placeholder {
  color: var(--color-input-ph);
  font-weight: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

table {
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
  border-radius: 1.2rem;
}

table * {
  text-align: left;
  font-size: 2rem;
}

thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  display: block;
  height: 200px;
  overflow-y: auto;
  scrollbar-gutter: initial;
}

th {
  background-color: var(--color-table-head-bg);
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table tr:nth-child(odd) {
  background-color: var(--color-table-row-odd);
}

table tr:nth-child(even) {
  background-color: var(--color-table-row-even);
}

td.user {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-remove {
  color: var(--color-danger);
  background: none;
  cursor: pointer;
}