/challenges/st8_ch1_backend-nodejs-movies/node_modules
/challenges/st9_ch1_frontend-nodejs-movies/node_modules

/exercises/st8_ex1_backend-rocketnotes/node_modules
/exercises/st9_ex1_frontend-rocketnotes/node_modules