:root {
  font-size: 62.5%;

  --color-bg: white;
  --color-font-normal: #323238;
  --color-font-contrast: white;

  --color-bg-button-normal: #E1E1E6;
  --color-bg-button-hover: #ceced1;
  --color-bg-button-active: #02799D;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-font-normal);
}

body {
  font: normal 500 1.6rem sans-serif;
  display: grid;
  place-content: center;
  height: 100vh;
}

button {
  background-color: transparent;
  border: none;
  font-size: 4.8rem;
  cursor: pointer;
}

button#toggle-dark-mode {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  font-size: 3rem;
}

#app {
  display: flex;
  gap: 19rem;
  justify-items: space-between;
  align-items: center;
}

#main-view {
  padding: 10rem;
  display: grid;
  justify-items: center;
}

#timer span {
  font-size: 12.6rem;
}

#timer-controls {
  margin-top: 1.7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#music-controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.music-buttons {
  background-color: var(--color-bg-button-normal);
  border-radius: 2.4rem;
  width: 13.8rem;
  height: 15rem;
  transition: background .3s;
}

.music-buttons.active {
  background-color: var(--color-bg-button-active);
}

.music-buttons:hover {
  background-color: var(--color-bg-button-hover);
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0px;
  border: 0;
  appearance: none;

  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}