:root {
  --color-main: #535971;
  --color-secondary: #FF5374;
  --color-background: #EFEFEF;
  --color-white: #FFFFFF;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal normal 1.6rem 'Arial', sans-serif;
  padding: 2rem;
}