:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font: normal normal 1.6rem sans-serif;
}

input,
button,
textarea {
  border: none;
  background: none;
}

body {
  height: 100vh;
  background-color: rgb(107, 107, 107);
}

nav {
  padding: 1.6rem;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  color: rgb(238, 238, 238);
  padding: 1rem;
  border-radius: .8rem;
  transition: color .3s, background .3s;
}

nav a:hover {
  background-color: rgb(61, 61, 61);
  color: rgb(157, 190, 252);
}

#app {
  background-color: white;
  width: 50%;
  border-radius: 1rem;
  padding: 3rem;
  margin: 3rem auto 0;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: rgb(92, 91, 91);
}

p {
  line-height: 3rem;
  text-align: justify;
}

#input-wrapper {
  display: grid;
  gap: 1.5rem;
}

#input-wrapper input,
#input-wrapper textarea {
  border: 1px solid rgb(75, 75, 75);
  width: 100%;
  padding: 1rem;
  border-radius: .8rem;
}

#input-wrapper button {
  background-color: rgb(107, 107, 107);
  color: white;
  padding: 1.5rem;
  border-radius: .8rem;
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
  transition: background .3s, color .3s;
}

#input-wrapper button:hover {
  background-color: rgb(83, 83, 83);
  color: rgb(240, 240, 240);
}